.main {
    display: flex;
    flex-direction: row;
    color: aliceblue;
    gap: 2rem;
    padding: 1rem;
    border: 0.1rem solid black;
    box-shadow: 0.3rem 0.3rem #f0f0f0;
    border-radius: 1rem;
    min-height:calc(100vh - 4rem);
}

.info {
    font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}

.image-wrapper {
    width: 50%;
}

.image-wrapper > img {
    border: 0.3rem solid;
    width: 100%;
    max-width: 600px;
}

.info-title {
    font-size: 2rem;
    font-weight: bold;
    border-left: 0.5rem solid #a9d3e9;
    padding-left: 0.5rem;
}

.info-tag {
    background: rgb(134, 151, 248);
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    width: fit-content;
}

.info-row {
    display: flex;
}

.info-label {
    width: 6rem;
    border-right: 0.1rem solid white;
    padding-right: 1.5rem;
    margin-right: 1.5rem;
    font-weight: bold;
}